#wrapper {
    font-family: Trocchi;
    font-size: 50px;
    color: steelblue;
    text-align: center;
}

#container {
    margin: 100px;
    flex-flow: row wrap;
    align-items: center;
}

#middle {
    font-size: 250px;
    font-weight: bold;
}

#bottom {
    font-size: 30px;
}